.container {
  background-color: #6d0000a2;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 2px solid #00ffcc;
}

.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ffdf51;
}
