.footer {
  background: #E5E9C5;
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2.5px solid #016B61;
  margin-top: 0px;
}

.footer img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  transition: transform 0.2s ease;
}

.footer img:hover {
  transform: scale(1.15);
}

.footerCenter {
  display: flex;
  align-items: center;
}

.footerLeft,
.footerRight {
  font-size: 0.9rem;
  color: #333333;
  font-weight: 500;
}

.cvButton {
  background-color: #016B61;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 1px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.cvButton:hover {
  background-color: #70B2B2;
  transform: scale(1.05);
}

.pdfIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  object-fit: contain;
}
