.container {
  position: relative;
}

.hero {
  height: 50vh;
  background-image: url("../../assets/FondoHome.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.8);

  /* Animación */
  opacity: 0;
  transform: translateY(20px);
  animation: slideFadeIn 1.5s ease-out forwards;
}


.fotoPerfil {
  width: 190px;             
  height: 190px;
  border-radius: 50%;       
  border: 2.5px solid #016B61; 
  object-fit: cover;        /* Ajuste limpio */

  position: absolute;
  /*top: 33vh;                /* Mueve la imagen en Y */
  left: 50%;
  bottom: -95px;         /* La mitad de la imagen baja a la parte blanca */
  transform: translateX(-50%);

  background: white;        
  z-index: 10;              /* Para que esté encima de todo */

}

.content {
  /* padding: 40px;
  padding-top: 7%; */
  padding: 95px 90px 20px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-size: 1.2rem;
}

.habilidades {
  padding: 10px;
  background: white;
  text-align: center;
}


.habilidades h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #222;
}

/* Cuadrícula */
.gridHabilidades {
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;                   /* Espacio entre las cajas */
  max-width: 1000px;
  margin: 0 auto;              /* Centrar  */
}

.skill {
  padding: 15px;
  background: #E5E9C5;         
  border-radius: 10px;         
  font-weight: bold;
  color: #333;
  transition: transform 0.3s ease; 
}


.skill:hover {
  transform: scale(1.05);      /* Se agranda un poquito */
  background: #70B2B2;
}

.skill img {
  width: 60px;                       /* Tamaño del icono */
  height: 60px;
  margin-bottom: 10px;               /* Espacio entre icono y texto */
}

.skill p {
  margin: 0;
  font-weight: bold;
}

.footer {
  background: #E5E9C5;
  padding: 25px 40px;

  display: flex;
  justify-content: space-between; /* 3 columnas */
  align-items: center;

  border-top: 3px solid #016B61;
  margin-top: 60px;
}

.footer img {
  width: 30px;              /* Tamaño de iconos */
  height: 30px;
  margin: 0 10px;
  transition: transform 0.2s ease;
}

.footer img:hover {
  transform: scale(1.15);   /* Animación */
}

.footerCenter {
  display: flex;
  align-items: center;
}

.footerLeft,
.footerRight {
  font-size: 0.9rem;
  color: #333;
  font-weight: 500;
}

.cvButton {
  background-color: #016B61;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  display: inline-flex;              /* <— Para alinear icono y texto */
  align-items: center;               /* Centra verticalmente */
  gap: 1px;                          /* Espacio entre icono y texto */
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.cvButton:hover {
  background-color: #70B2B2;
  transform: scale(1.05);
}

.pdfIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  object-fit: contain;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}
