@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  position: relative;
}

.videoFondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero {
  height: 50vh;
  /* background-image: url("../../assets/FondoHome.jpg"); */
  background: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.8);

  /* Animación */
  opacity: 0;
  transform: translateY(20px);
  animation: slideFadeIn 1.5s ease-out forwards;
}


.fotoPerfil {
  width: 190px;             
  height: 190px;
  border-radius: 50%;       
  border: 2.5px solid #016B61; 
  object-fit: cover;

  position: absolute;
  
  left: 50%;
  bottom: -95px;    
  transform: translateX(-50%);

  background: white;        
  z-index: 10;      

}

.content {
  /* padding: 40px;*/
  padding: 95px 90px 20px;
  background-color: rgb(255, 255, 255);
  color: #333333;
  font-size: 1.2rem;
}

.habilidades {
  padding: 100px;
  background: white;
  text-align: center;
}


.habilidades h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #016B61;
}

/* Cuadrícula */
.gridHabilidades {
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  max-width: 1000px;
  margin: 0 auto;       /* Centrar  */
}

.skill {
  padding: 15px;
  background: #E5E9C5;         
  border-radius: 10px;         
  font-weight: bold;
  color: #333333;
  transition: transform 0.3s ease; 
}


.skill:hover {
  transform: scale(1.05);     
  background: #70B2B2;
}

.skill img {
  width: 60px;               
  height: 60px;
  margin-bottom: 10px;       
}

.skill p {
  margin: 0;
  font-weight: bold;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

@media (max-width: 992px) {
  .gridHabilidades {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media (max-width: 600px) {
  .gridHabilidades {
    grid-template-columns: 1fr; 
    gap: 12px;
  }

  .habilidades {
    padding: 50px 20px;
  }

  .skill img {
    width: 50px;
    height: 50px;
  }
}
