.container {
  background: #e5e9c521;
  padding: 12px 25px;
  display: flex;
  justify-content: right;
  gap: 30px;
  border-bottom: 2.5px solid #016B61;

  position: sticky;   /* Se queda pegado al hacer scroll */
  top: 0;             
  z-index: 1000;      /* Asegura que quede encima de todo */
  backdrop-filter: blur(10px); /* efecto vidrio */

}

.link {
  color: #333333;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.link:hover {
  color: #70B2B2;
  
}
