.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 20px;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #016B61;
  
}

.subtitle {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 40px;
  opacity: 0.8;
  color: #333333;
}

/* --- LISTA DE CARDS --- */
.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.card {
  display: flex;
  background: #E5E9C5;
  border: 0.5px solid #969696;
  padding: 18px;
  border-radius: 14px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
  overflow: hidden;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
  box-shadow: 0px 3px 30px rgba(0,0,0,0.09);
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 8px 40px rgba(0,0,0,0.17);
}

/* Animación de aparición */
.visible {
  opacity: 1;
  transform: translateY(0);
}

.image {
  width: 240px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 18px;
  flex-shrink: 0; /* Evita que se reduzca en movil */
  border: 1px solid #cecece;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info h2 {
  margin: 0 0 8px 0;
  font-size: 1.4rem;
  color: #016B61;
}

.info p {
  margin: 0 0 12px 0;
  opacity: 0.9;
  color: #333333;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.techList li {
  padding: 5px 10px;
  font-size: 0.75rem;
  border-radius: 6px;
  background: #eef1f1;
  color: #70B2B2;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.techList li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons a {
  background: linear-gradient(135deg, #70B2B2, #016B61);
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 0.3px;

  display: inline-flex;
  align-items: center;
  gap: 6px;

  box-shadow: 0 4px 12px rgba(0, 50, 150, 0.25);
  transition: transform 0.2s ease, box-shadow 0.25s ease;
}

.buttons a:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 50, 150, 0.35);
}

.buttons a:active {
  transform: translateY(-1px);
}

@media (max-width: 900px) {
  .list {
    grid-template-columns: 1fr;
  }

  .card {
    flex-direction: row;
  }

  .image {
    width: 230px;
    height: 210px;
  }
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image {
    width: 100%;
    height: 180px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .info {
    text-align: center;
    align-items: center;
  }

  .techList {
    padding-left: 20px;
    text-align: left;
  }
}
